{% extends "base.html" %}

{% block content %}
<body>
    <h1>Lista de Personajes de Marvel</h1>
    <div class="characters-container">
        {% for character in characters %}
        <div class ="character-card">
            <h3> {{character.name}}</h3>
            <p>{{character.description or 'No hay descripcion disponible.'}}</p>
            <!--
            <p><strong>Cómics:</strong></p>
            <ul>
                {% for comic in character.comics %}
                    <li>{{ comic.name }}</li>
                {% endfor %}
            </ul>
            -->
            <img src="{{ character.image_url }}" alt="{{ character.name }}" class ="character-image">
        </div>
        {% endfor %}
    </div>
{% endblock %}
