{% extends "base.html" %}

{% block content %}
<section>
    <h2>Bienvenido a la Página de Inicio</h2>
    <p>Explora el universo de Marvel y gestiona tus personajes favoritos.</p>

    <!-- Formulario de busqueda -->
    <form id="search-form" >
        <input type="text" id="search-input" name="name" placeholder="Nombre del personaje" required>
        <button type="submit" class="action-button">Buscar Personaje</button>
    </form>
    <!--Resultados de busqueda -->
    <div id="search-results">
        <!-- los resultados se mostraran aqui -->
    </div>

    <!-- Botones de navegación -->
    <div class="buttons-container">
        <a href="{{ url_for('character_bp.list_characters') }}">
            <button class="action-button">Ver Lista de Personajes</button>
        </a>
        {#<!--
        <a href="{{ url_for('agregar_personaje') }}">
            <button class="action-button">Agregar Personaje</button>
        </a>
        -->#}
    </div>
</section>
<!-- Script para manejar la búsqueda -->
<script>
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional

        const searchQuery = document.getElementById('search-input').value; // Obtener el valor de búsqueda
        const actionUrl = "{{ url_for('character_bp.get_character', name='') }}" + encodeURIComponent(searchQuery);

        // Redirigir a la ruta correcta
        window.location.href = actionUrl;
    });
</script>
{% endblock %}